@import "./colors";
@import "./fonts";


@mixin base-container {
    width: 60vw;
    height: 80vh;
    margin: 0 auto;
    border-radius: 4rem;
    background-color: $SoftIvory;
}

@mixin title{
font-family: lobster;
font-size: 5rem;
display: flex;
align-items: center;
justify-content: center;

color: $MahoganyBrown;
}