@import "./mixins";
@import "./colors";

.page-cont {
  margin-top: 2rem;
}

.bookInfoContainer {
  @include base-container;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto 1fr; 
  grid-template-rows: auto auto auto auto; 
  gap: 1rem; 
  justify-items: start; 
  align-items: start; 
}

.bookImg-info {
  grid-column: 1; 
  grid-row: 1 / 4;
}

.basic {
  grid-column: 2;
  grid-row: 1; 
}

.textbox {
  grid-column: 2 / span 1; 
  grid-row: 2; 
  margin-top: 1rem;   
}

.checkBox {
  grid-column: 3;
  grid-row: 3; 
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.infoBox {
  grid-column: 1;
  grid-row: 3;
}

img {
  margin: 0;
}

label {
  padding-top: 0; 
}

