@import "./colors";
#rm-button{
    height: 2rem;
    width: 5.5rem;
    border-radius: 4rem;
    border-style: none;
    background-color: $Mauve;
    color: $SoftIvory;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#fav-button{
    background-color: transparent;
    border-style: none;
    cursor: pointer;

}
#fav-button:hover{
fill: #C4726D;
}

#heart {
    fill: transparent;
    stroke: #C4726D;
    stroke-width: 20px;

  

  }