@import "./mixins";


.info-card {
    display: flex; 
    align-items: center; 
}
.bookInfo{
    margin: 0 1.5rem 0 1.5rem;
}
.bookImg {
    
    width: 4rem;
    height: 7rem;
    margin-left: 5rem;
    margin-top: 2.5rem;
    


}
.button-container{
    display: flex;
    margin-bottom: 0.5rem;
}