.review{
    display: flex;
    align-items: center;
    flex-direction: column;
.starRating {
    height: 4rem;
    padding-right: 10rem;
    float: left;
    display: flex;
    flex-direction: row-reverse;
  
    input {
      visibility: hidden;
    }
  
    label {
      width: 1em;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      font-size: 2em;
      color: #ccc;
    }
  
    label:before {
      content: '★ ';
    }
  
    input:checked ~ label {
      color: #ffc700;
    }
  
    label:hover,
    label:hover ~ label {
      color: #deb217;
    }
  
    input:checked + label:hover,
    input:checked + label:hover ~ label,
    input:checked ~ label:hover,
    input:checked ~ label:hover ~ label,
    label:hover ~ input:checked ~ label {
      color: #c59b08;
    }
  }
  #reviewlabel{
    margin-left: -15rem;
  }
#freeform{
  border-radius: 16px;
  border-style: none;
  text-indent: 0.5rem;
}
  #submitBtn{
    width: 3.5rem;
    height:2rem;
    border-radius: 16px;
    border-style: none;
    margin-top: 0.5rem;
  }
}