@import "mixins";

.resultContainer {
  @include base-container;
  position: relative; /* Add relative positioning to the container */

  .button-container {
    display: flex;
    justify-content: flex-end;
  }

  .paginator {
    position: absolute; 
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    display: flex;
  }

  
}
