@import "mixins";

.resultContainer {
  @include base-container;
  position: relative; /* Add relative positioning to the container */

  .button-container {
    display: flex;
    justify-content: flex-end;
  }

  .paginator {
    position: absolute; /* Position paginator absolutely */
    bottom: 0; /* Align paginator to the bottom */
    left: 50%; /* Align paginator horizontally centered */
    transform: translateX(-50%); /* Center paginator horizontally */
    display: flex;
  }

  
}
